body {
  margin:0; padding:0;
}


#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}

#intro {
/*  border-style: solid;
  border-width: medium;
  border-color: #742121*/
  position: relative;
  top:20px;
  left:50px;
  width: 225px;
  height: 175px;
  background: #F4F0F5;
  padding: 5px;
}

h3 {
  color: #05AEDE
}

p {
  color: #05AEDE;
  font-size: 12px;
}

::-webkit-input-placeholder {
  font-size: 12px;
}

input[type="text"] {
  font-size: 12px;
}

#autocomplete {
  width: 210px;
}