<div id='map'></div>
<div id='intro'>
  <h3>NoisyNYC</h3>
  <p>Find out where, and where not live, based on noise complaints in your area. Browse the map or enter your address below. Click on a marker for more info.</p>
  <form>
    <input id="autocomplete" type="text" placeholder="Enter your address">
  </form>
</div>