<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=utf-8 />
  <title>NoisyNYC</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
  <script src="/js/application.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEQivpcdIbHWPfCN0C37Ou780y4VcPHdU&libraries=places"></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
</head>
<body>
  <%= yield %>
</body>
</html>
